APP_PORT=3010
REMNAWAVE_PANEL_URL=http://panel.test
REMNAWAVE_API_TOKEN=test-token
INTERNAL_JWT_SECRET=test-internal-jwt-secret
TRUST_PROXY=1
MARZBAN_LEGACY_LINK_ENABLED=false
MARZBAN_LEGACY_DROP_REVOKED_SUBSCRIPTIONS=false
